# Ignore data files
*.xlsx

# Ignore ONLY the large dataset
complete_data.csv

# Ignore large model files
*.rds
*.RData

# Ignore R project user settings
.Rproj.user

.Rhistory
.httr-oauth
.DS_Store
.quarto
